
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Milven;
    background-color: rgb(53, 14, 12);
    color: #e8e3e3;
    line-height: 1.6;
}

.about-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}


.about-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    margin-bottom: 80px;
}

.about-hero img {
    width: 100%;
    border-radius: 300px;
    object-fit: cover;
}

.about-intro h1 {
    font-size: 5vw;
    margin-bottom: 20px;
    font-family: Ruritania;
    font-weight: normal;
}

.about-intro p {
    font-size: 1.1rem;
    color: #ffffff;
}


.about-section {
    margin-bottom: 60px;
}

.about-section h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding-left: 12px;
}

.about-section p {
    max-width: 700px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    .about-hero {
        grid-template-columns: 1fr;
    }

    .about-intro h1 {
        font-size: 2rem;
    }
}
@font-face{

    font-family: Ruritania;
    src: url(./fonts/Ruritania-Outline.ttf)
}

@font-face{
    font-family: Fleur;
    src: url(./fonts/FleurDeLeah-Regular.ttf);
}

@font-face{
    font-family: kingjola;
    src: url(./fonts/kingjola.ttf)
}

@font-face{
    font-family: Rubens;
    src: url(./fonts/Rubens\ Regular.ttf)
}

@font-face{
    font-family: Milven ;
    src: url(./fonts/Milven-Regular.otf);
}