p{
    color: rgb(255, 255, 255);
    font-size: 5vw;
    font-family: Fleur;
    text-decoration: none;
}
#contact-alt{
    text-decoration: none;
}
body{
    background-color: rgb(125, 72, 44);
}
@font-face{

    font-family: Ruritania;
    src: url(./fonts/Ruritania-Outline.ttf)
}

@font-face{
    font-family: Fleur;
    src: url(./fonts/FleurDeLeah-Regular.ttf);
}

@font-face{
    font-family: kingjola;
    src: url(./fonts/kingjola.ttf)
}

@font-face{
    font-family: Rubens;
    src: url(./fonts/Rubens\ Regular.ttf)
}