#navigation{
    display: flex;


}


.link{
    width:33vw;
    font-family: Milven;
    text-align: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(125, 72, 44);
}

p{
    color: rgb(255, 255, 255);
    font-size: 5vw;
    font-family: Milven;
}

body{
    background-color: black;
}

#name{
    display:flex;
    justify-content: center;
}

#artist{
    display:flex;
    justify-content: center;
}

#Visitenkarte{
    width: 100vw;
}

#Blumen_und_Blätter{
    width: 100vw;
}
#info{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
#frame{
    width: 100vw;
}

#table{
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    align-items: center;
    gap: px;
    margin: 0;
    padding: 0;

}
#table th{
    padding: 0px;
    margin: 0;
    justify-content: center;
}

#work{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#gallery th{
    padding: 20px;
    margin: 0;
    justify-content: center;
}

@font-face{

    font-family: Ruritania;
    src: url(./fonts/Ruritania-Outline.ttf)
}

@font-face{
    font-family: Fleur;
    src: url(./fonts/FleurDeLeah-Regular.ttf);
}

@font-face{
    font-family: kingjola;
    src: url(./fonts/kingjola.ttf)
}

@font-face{
    font-family: Rubens;
    src: url(./fonts/Rubens\ Regular.ttf)
}

@font-face{
    font-family: Milven ;
    src: url(./fonts/Milven-Regular.otf);
}