p{
    color: rgb(255, 255, 255);
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: black;
}

#name{
    display:flex;
    justify-content: center;
}

#artist{
    display:flex;
    justify-content: center;
}

#Visitenkarte{
    width: 185vb;
}
@font-face{

    font-family: Ruritania;
    src: url(./fonts/Ruritania-Outline.ttf)
}

@font-face{
    font-family: Fleur;
    src: url(./fonts/FleurDeLeah-Regular.ttf);
}

@font-face{
    font-family: kingjola;
    src: url(./fonts/kingjola.ttf)
}

@font-face{
    font-family: Rubens;
    src: url(./fonts/Rubens\ Regular.ttf)
}